<div oc-lazy-load="{ name: 'YourApp', files: [skinPath+'js/account.js?r='+rand,skinPath+'css/account.css?r='+rand] }">
	<div ng-controller="accountCtrl">		
		<div layout="row" layout-align="end center">
			<md-menu>
				<md-button layout="row" class="md-icon-button" aria-label="Open demo menu" ng-click="$mdMenu.open($event)">			
					<img ng-src="{{doctorDashboardData.showPic}}" 
					ng-hide='doctorDashboardData.showPic==null || doctorDashboardData.showPic =="" ' 
					width="50px" height="50px"/>
					<div><md-icon class="toolbarIcons" ng-show="doctorDashboardData.showPic==null">account_circle</md-icon></div>			
				</md-button>
				<md-menu-content class="accountMenu" width="4">
					<md-menu-item layout-padding>
						<div layout-padding>Will Smit</div>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
					  <md-button ng-click="myAccount()">
						<md-icon class="extraIcons">account_box</md-icon>
							My account
					  </md-button>
					</md-menu-item>
					<md-menu-item>
					  <md-button>
						<md-icon class="extraIcons">notifications_none</md-icon>
							Notification
					  </md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
					  <md-button>
						<md-icon class="extraIcons">exit_to_app</md-icon>
							Sign In/Out
					  </md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>
</div>