/*sideNav*/
.accountPic img{
	width: 70px;
	border: solid 1px #052963;
	border-radius: 50px;	
}
.sideVavBox {
	background: #052963 !important;
	height: 100%;
}
.docs-menu {
	padding: 0;
}
.parent-list-item {
    border-left: solid 6px #052963;
	border-bottom: 1px ridge rgba(6, 26, 68, 0.96);
}
.parent-list-item:hover {
    border-left: solid 6px #00C6D7;
	background: #11346d;
	cursor: pointer;
}
md-sidenav md-icon.extraIcons {
    cursor: pointer !important;
}