<div oc-lazy-load="{name:'myApp',files:['Content/190496.js?r=1767602981','Design/design10120.js?r=1767602981','Design/design10147.js?r=997075053','Design/design10129.js?r=997075053','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10120"></div>
<div ng-controller="Design_10147"></div>
<div ng-controller="Design_10129"></div>

	<div ng-controller="Ctrl190496">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>fingerprint</md-icon>
    <input ng-model="DocInfo.person.nationalCode"   
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="NationalCode"     ng-disabled="disabled" >	
	<label>{{'NATIONAL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon>person</md-icon>
    <input ng-model="DocInfo.person.firstName" ng-pattern="/^([a-zA-Z\u0600-\u06FF,U+0020_ ])+$/" type="text" 
	 minlength="3" md-minlength="3" 
	maxlength="30" md-maxlength="30"  
	
	name="FirstName"  required    >	
	<label>{{'FIRST_NAME'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.FirstName.$error" role="alert"  >
		<div ng-message="required" class="my-message">
			{{ 'FIRST_NAME_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'FIRST_NAME_IS_NOT_VALID' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'FIRST_NAME_IS_VERY_LONG' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="45" flex-xs="100" >
    <md-icon>group</md-icon>
    <input ng-model="DocInfo.person.lastName" ng-pattern="/^([a-zA-Z\u0600-\u06FF,U+0020_ ])+$/" type="text" 
	  md- 
	maxlength="30" md-maxlength="30"  
	
	name="LastName"  required    >	
	<label>{{'LAST_NAME'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.LastName.$error" role="alert"  >
		<div ng-message="required" class="my-message">
			{{ 'FIRST_NAME_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'FIRST_NAME_IS_NOT_VALID' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'FIRST_NAME_IS_VERY_LONG' | translate }}
		</div>
	</div>
</md-input-container>
<div ng-init="=setFilterForDate('','','','')"></div>
<div ng-init="maxDate=setFilterForDate('staticType','8','2','1398')"></div>

<div ng-init="DocInfo.person.birthDate=setStandardDate(DocInfo.person.birthDate)"></div>
<md-input-container flex="50" flex-xs="100">
	<label>{{'BIRTH_DATE'| translate }}</label>
        <md-persian-datepicker 
			md-max-date="maxDate"
			
			ng-model="DocInfo.person.birthDate"   name="BirthDate"  ></md-persian-datepicker>

</md-input-container>



<md-input-container class="md-block" flex-gt-xs>
			<md-radio-group  flex-gt-sm layout-padding layout="row" flex="50" ng-model="DocInfo.person.gender.id" required>
				<md-radio-button class="md-primary" value="11">{{'MALE' | translate}}</md-radio-button>
				<md-radio-button class="md-primary" value="12">{{'FEMALE' | translate}}</md-radio-button>
			</md-radio-group>
		</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="design_10120(this);" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'APPROVE' | translate}}</span>   
</md-button>
<!--  -->
<div ng-init="design_10129(this)" style="display:none"></div></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
