<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190488.js?r=369374463','Design/design10104.js?r=1746330182','Design/design10105.js?r=1746330182','Design/design10123.js?r=975802254','Design/design10119.js?r=975802254','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_10104"></div>
    <div ng-controller="Design_10105"></div>
    <div ng-controller="Design_10123"></div>
    <div ng-controller="Design_10119"></div>

    <div ng-controller="Ctrl190488">
        <form id="formData" name="formData" style="width: 800px">
            <div layout="column" style="margin :0 auto">
                <div ng-init="design_10119(this)" style="display:none"></div>
                <div layout="row" layout-align="center center">
                    <md-icon style="height: 110px;
                                width: 110px;
                                font-size: 110px;
                                text-align: center;
                                color: #00c6d7;">person
                    </md-icon>
                </div>
                <div layout="row" layout-align="center center">
                    <div style="text-align: center">
                        <span style="font-size:15px; color: #00C6D7;">{{'DEAR_USER' | translate}}</span>
                        <span style="font-size:15px">{{'PLEASE_ENTER_YOUR_ACCOUNT_INFORMATION' | translate}}</span>
                    </div>
                </div>

                <div layout="row"
                     layout-align="center center"
                     layout-wrap>
                    <md-input-container flex="45" class="margin-padding-zero">
                        <md-icon>person</md-icon>
                        <div class="md-errors-spacer" style="display: none;">
                            <div class="md-char-counter">0 / 25</div>
                        </div>
                        <input ng-model="patientInfo.person.firstName"
                               ng-pattern="/^([a-zA-Z\u0600-\u06FF,U+0020_ ])+$/"
                               maxlength="25"
                               md-maxlength="25"
                               name="firstName"
                               required>
                        <label>{{'FIRST_NAME'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.firstName.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'FIRST_NAME_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'FIRST_NAME_IS_NOT_VALID' | translate }}
                            </div>
                            <div ng-message="maxlength" class="my-message">
                                {{ 'FIRST_NAME_IS_VERY_LONG' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="45" class="margin-padding-zero">
                        <md-icon>group</md-icon>
                        <div class="md-errors-spacer" style="display: none;">
                            <div class="md-char-counter">0 / 50</div>
                        </div>
                        <input ng-model="patientInfo.person.lastName"
                               ng-pattern="/^([a-zA-Z\u0600-\u06FF,U+0020_ ])+$/"
                               md-
                               maxlength="50" md-maxlength="50"

                               name="lastName" required>
                        <label>{{'LAST_NAME'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.lastName.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'LAST_NAME_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'LAST_NAME_IS_NOT_VALID' | translate }}
                            </div>
                            <div ng-message="maxlength" class="my-message">
                                {{ 'LAST_NAME_IS_VERY_LONG' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row"
                     ayout-align="center center"
                     layout-wrap>
                    <div data-ng-init=" __genderList =  " style="display:none"></div>
                    <div data-ng-init=" patientInfo.person.gender =  " style="display:none"></div>
                    <md-input-container flex="45" class="margin-padding-zero">
                        <md-icon>wc</md-icon>
                        <md-select required
                                   name="gender"
                                   md-on-open="getDynamicData('__genderList',[{'title':'مرد','id':'11'},{'title':'زن','id':'12'}],'','','',[],this)"
                                   ng-model="patientInfo.person.gender"
                                   placeholder="{{'GENDER' | translate}}">
                            <md-option ng-repeat="item in __genderList" value="{{item.id}}">
                                {{item.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-init="=setFilterForDate('','','','')"></div>
                    <div ng-init="=setFilterForDate('','','','')"></div>
                    <div ng-init="patientInfo.person.birthDate=setStandardDate()"></div>

                    <md-input-container id="datePickerId" flex="45" class="margin-padding-zero">
                        <label>{{'BIRTH_DATE'| translate }}</label>
                        <md-persian-datepicker
                                ng-model="patientInfo.person.birthDate"
                                name="birthDate">
                        </md-persian-datepicker>
                        <div ng-messages="formData.birthDate.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'BIRTH_DATE_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'BIRTH_DATE_IS_NOT_VALID' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div
                        layout="row"
                        layout-align="center center"
                        style="margin-top: -25px">
                    <md-button
                            class="md-raised md-primary"
                            style="background-color: #848587;color: #fafafa;"
                            ng-click="makeDesign_272395();">
                        <span class="md-inline-list-icon-label">{{'BACK' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-raised md-primary"
                            style="background-color: #052963;color: #fafafa;"
                            ng-click="(formData.$valid)?makeDesign_272396():'';">
                        <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-raised md-primary"
                            style="background-color: #848587;color: #fafafa;"
                            ng-click="makeDesign_293026();">
                        <span class="md-inline-list-icon-label">{{'ABORT_OF_REGISTRATION' | translate}}</span>
                    </md-button>

                </div>
            </div>
        </form>
    </div>
</div> 
