<div oc-lazy-load="{name:'myApp',files:['Content/190490.js?r=25093505','Design/design10107.js?r=376465396','Design/design10109.js?r=376465396','Design/design10123.js?r=376465396']}"> 
	<div ng-controller="Design_10107"></div>
<div ng-controller="Design_10109"></div>
<div ng-controller="Design_10123"></div>

	<div ng-controller="Ctrl190490">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<h4 style="text-align:center" flex="100" > {{'PLEASE_CHOOSE_YOUR_SPECIALITY' |translate}} </h4>
<!--div ng-init="getDynamicData('__specialtyTypeList','','0','/base/list/specialty','',[],this)"></div-->

<div data-ng-init=" __specialtyTypeList =  " style="display:none"></div>
<div data-ng-init=" Form.specialty =  " style="display:none"></div>

<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select required
		
		md-on-open="getDynamicData('__specialtyTypeList','','0','/base/list/specialty','',[],this)"
		ng-model="Form.specialty" placeholder="{{'SPECIALITY' | translate}}" >
		<md-option  ng-repeat="item in __specialtyTypeList" value="{{item.id}}">
			{{item.name}}		
		</md-option>
	</md-select>
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272408();" flex="25" flex-xs="100"  >
    <md-icon class="material-icons">next</md-icon>
    <span class="md-inline-list-icon-label">{{'NEXT' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272409();" flex="25" flex-xs="100"  >
    <md-icon class="material-icons">back</md-icon>
    <span class="md-inline-list-icon-label">{{'BACK' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_293028();" flex="25" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
