<div oc-lazy-load="{name:'myApp',files:['Content/190495.js?r=1453752686','Design/design10108.js?r=683224758','Design/design10160.js?r=2060180477','Design/design10123.js?r=2060180477','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10108"></div>
<div ng-controller="Design_10160"></div>
<div ng-controller="Design_10123"></div>

	<div ng-controller="Ctrl190495">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<!--div ng-init="getDynamicData('__addresstype','','0','/base/list/catalogdetail/ADDRESS_TYPE','',[],this)"></div-->

<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon>flag</md-icon>
	<md-select required
		md-on-open="getDynamicData('__addresstype','','0','/base/list/catalogdetail/ADDRESS_TYPE','',[],this)"
		ng-model="Form.addressType" placeholder="{{'ADDRESS_TYPE' | translate}}" >
		<md-option  ng-repeat="item in __addresstype" value="{{item.id}}">
			{{item.description}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.postalCode" ng-pattern="/^[13-9]*$/"  
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="postalCode"  required valid-number   >	
	<label>{{'WORKPLACE_POSTAL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.postalCode.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'POSTAL_CODE_IS_REQUIRED' | translate }}
		</div>
    	<div ng-message="pattern" class="my-message">
			{{ 'POSTAL_CODE_IS_NOT_VALID' | translate }}
		</div>
		<div ng-message="minlength" class="my-message">
			{{ 'POSTAL_CODE_MUST_BE_10_DIGITS' | translate }}
		</div>
	</div>
</md-input-container>
<!--div ng-init="getDynamicData('__cityList','','0','/base/list/city','city',[],this)"></div-->


<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon>location</md-icon>
	<md-select required
		md-on-open="getDynamicData('__cityList','','0','/base/list/city','city',[],this)"
		ng-model="Form.city" placeholder="{{'CITY' | translate}}" >
		<md-option  ng-repeat="item in __cityList" value="{{item.id}}">
			{{item.name}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.mandatoryAddress"   
	 minlength="10" md-minlength="10" 
	maxlength="100" md-maxlength="100"  
	
	name="address"  required    >	
	<label>{{'WORKPLACE_MAIN_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.address.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'MANDATORY_ADDRESS_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'MANDATORY_ADDRESS_MUST_BE_LESS_THAN_100_DIGITS' | translate }}
		</div>
		<div ng-message="minlength" class="my-message">
			{{ 'MANDATORY_ADDRESS_MUST_BE_More_THAN_10_DIGITS' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.optionalAddress"   
	  md- 
	maxlength="100" md-maxlength="100"  
	
	name="optionalAddress"      >	
	<label>{{'WORKPLACE_SUPPLEMENTARY_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.optionalAddress.$error" role="alert" >
		<div ng-message="maxlength" class="my-message">
			{{ 'SUPPLEMENTARY_ADDRESS_MUST_BE_LESS_THAN_100_DIGITS' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="Form.telephone" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="telephone"   valid-number   >	
	<label>{{'GENERAL_WORKPLACE_PHONE_NUMBER'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.telephone.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="Form.fax" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="faxNumber"   valid-number   >	
	<label>{{'GENERAL_WORKPLACE_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.faxNumber.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'GENERAL_WORKPLACE_FAX_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'GENERAL_WORKPLACE_FAX_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'GENERAL_WORKPLACE_FAX_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="Form.officeTel" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="officeTel"  required valid-number   >	
	<label>{{'WORKPLACE_PHONE_NUMBER'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.officeTel.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'WORKPLACE_PHONE_NUMBER_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'WORKPLACE_PHONE_NUMBER_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'WORKPLACE_PHONE_NUMBER_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="Form.officeFax" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="fax"   valid-number   >	
	<label>{{'WORKPLACE_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.fax.$error" role="alert" >
		<div ng-message="maxlength" class="my-message">
			{{ 'WORKPLACE_FAX_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'WORKPLACE_FAX_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272436();" flex="25" flex-xs="100"  >
    <md-icon class="material-icons">next</md-icon>
    <span class="md-inline-list-icon-label">{{'NEXT' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272437();" flex="25" flex-xs="100"  >
    <md-icon class="material-icons">back</md-icon>
    <span class="md-inline-list-icon-label">{{'BACK' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_293029();" flex="25" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
