<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190488.js?r=369374463','Design/design10104.js?r=1746330182','Design/design10105.js?r=1746330182','Design/design10123.js?r=975802254','Design/design10119.js?r=975802254','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_10104"></div>
    <div ng-controller="Design_10105"></div>
    <div ng-controller="Design_10123"></div>
    <div ng-controller="Design_10119"></div>

    <div ng-controller="Ctrl190488">
        <form id="formData" name="formData">
            <div id="_template" class="template" flex="100" layout-wrap layout="column">
                <div flex="100" layout-wrap layout="row" layout-align="center center">
                    <div flex="60" flex-xs="100" layout-padding>
                        <div flex="100" layout-wrap layout="row">
                            <md-input-container
                                    flex="100" flex-xs="100">
                                <md-icon>person</md-icon>
                                <input ng-model="patientInfo.person.firstName"
                                       ng-pattern="/^([a-zA-Z\u0600-\u06FF,U+0020_ ])+$/"
                                       md-
                                       maxlength="25" md-maxlength="25"

                                       name="firstName" required>
                                <label>{{'FIRST_NAME'| translate }}</label>
                                <div class="hint">{{'' | translate }}</div>
                                <div ng-messages="formData.firstName.$error" role="alert">
                                    <div ng-message="required" class="my-message">
                                        {{ 'FIRST_NAME_IS_REQUIRED' | translate }}
                                    </div>
                                    <div ng-message="pattern" class="my-message">
                                        {{ 'FIRST_NAME_IS_NOT_VALID' | translate }}
                                    </div>
                                    <div ng-message="maxlength" class="my-message">
                                        {{ 'FIRST_NAME_IS_VERY_LONG' | translate }}
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container
                                    flex="100" flex-xs="100">
                                <md-icon>group</md-icon>
                                <input ng-model="patientInfo.person.lastName"
                                       ng-pattern="/^([a-zA-Z\u0600-\u06FF,U+0020_ ])+$/"
                                       md-
                                       maxlength="50" md-maxlength="50"

                                       name="lastName" required>
                                <label>{{'LAST_NAME'| translate }}</label>
                                <div class="hint">{{'' | translate }}</div>
                                <div ng-messages="formData.lastName.$error" role="alert">
                                    <div ng-message="required" class="my-message">
                                        {{ 'LAST_NAME_IS_REQUIRED' | translate }}
                                    </div>
                                    <div ng-message="pattern" class="my-message">
                                        {{ 'LAST_NAME_IS_NOT_VALID' | translate }}
                                    </div>
                                    <div ng-message="maxlength" class="my-message">
                                        {{ 'LAST_NAME_IS_VERY_LONG' | translate }}
                                    </div>
                                </div>
                            </md-input-container>
                            <!--div ng-init="getDynamicData('__genderList',[{'title':'مرد','id':'11'},{'title':'زن','id':'12'}],'','','',[],this)"></div-->

                            <div data-ng-init=" __genderList =  " style="display:none"></div>
                            <div data-ng-init=" patientInfo.person.gender =  " style="display:none"></div>

                            <md-input-container flex="50" flex-xs="100" md-no-float>
                                <md-icon>person</md-icon>
                                <md-select required

                                           md-on-open="getDynamicData('__genderList',[{'title':'مرد','id':'11'},{'title':'زن','id':'12'}],'','','',[],this)"
                                           ng-model="patientInfo.person.gender" placeholder="{{'GENDER' | translate}}">
                                    <md-option ng-repeat="item in __genderList" value="{{item.id}}">
                                        {{item.title}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <div ng-init="=setFilterForDate('','','','')"></div>
                            <div ng-init="=setFilterForDate('','','','')"></div>

                            <div ng-init="patientInfo.person.birthDate=setStandardDate()"></div>
                            <md-input-container flex="50" flex-xs="100">
                                <label>{{'BIRTH_DATE'| translate }}</label>
                                <md-persian-datepicker


                                        ng-model="patientInfo.person.birthDate"
                                        name="birthDate"></md-persian-datepicker>
                                <div ng-messages="formData.firstName.$error" role="alert">
                                    <div ng-message="required" class="my-message">
                                        {{ 'FIRST_NAME_IS_REQUIRED' | translate }}
                                    </div>
                                    <div ng-message="pattern" class="my-message">
                                        {{ 'FIRST_NAME_IS_NOT_VALID' | translate }}
                                    </div>
                                    <div ng-message="maxlength" class="my-message">
                                        {{ 'FIRST_NAME_IS_VERY_LONG' | translate }}
                                    </div>
                                </div>
                            </md-input-container>


                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="makeDesign_272396();" flex="30" flex-xs="100">
                                <md-icon class="material-icons">next</md-icon>
                                <span class="md-inline-list-icon-label">{{'NEXT' | translate}}</span>
                            </md-button>
                            <!--  -->
                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="makeDesign_272395();" flex="30" flex-xs="100">
                                <md-icon class="material-icons">back</md-icon>
                                <span class="md-inline-list-icon-label">{{'BACK' | translate}}</span>
                            </md-button>
                            <!--  -->
                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="makeDesign_293026();" flex="30" flex-xs="100">
                                <md-icon class="material-icons"></md-icon>
                                <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>
                            </md-button>
                            <!--  -->
                            <div ng-init="design_10119(this)" style="display:none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 
