<div oc-lazy-load="{name:'myApp',files:['Content/190480.js?r=947438522','Design/design10102.js?r=1298810413','Design/design10139.js?r=1298810413']}"> 
	<div ng-controller="Design_10102"></div>
<div ng-controller="Design_10139"></div>

	<div ng-controller="Ctrl190480">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<h1 style="text-align:center" flex="100" > {{'CONGRATULATION_!' |translate}} </h1>
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_272386();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'GO_TO_YOUR_PATIENT_DASHBOARD' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="design_10102(this);" flex="100" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'ARE_YOU_A_PHYSICIAN?' | translate}}</span>
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
