<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190489.js?r=676133825','Design/design10106.js?r=2053089544','Design/design10099.js?r=2053089544','Design/design10123.js?r=2053089544','scripts/angular-md5.js']}">
    <div ng-controller="Design_10106"></div>
    <div ng-controller="Design_10099"></div>
    <div ng-controller="Design_10123"></div>
    <div ng-controller="Ctrl190489">
        <form id="formData" name="formData" layout-padding style="width: 450px">
            <div layout="column" style="margin :0 auto">
                <div layout="row" layout-align="center center">
                    <md-icon style="height: 110px;
                                width: 110px;
                                font-size: 110px;
                                text-align: center;
                                color: #00c6d7;">person_add
                    </md-icon>
                </div>
                <div layout-padding layout="row" layout-align="center center">
                    <div style="text-align: center ; font-size: small">
                        <span style="color: #00C6D7;">{{'DEAR_USER' | translate}}</span>
                        <span>{{'PLEASE_ENTER_YOUR_PASSWORD_OF_PERSONAL_DASHBOARD' | translate}}</span>
                    </div>
                </div>
                <md-input-container>
                    <md-icon>vpn_key</md-icon>
                    <input ng-model="Form.password__"
                           type="password"
                           md-five="true"
                           minlength="6"
                           md-minlength="6"
                           name="password"
                           required
                           password-verify="{{Form.confirmPassword__}}"
                           style="width: 386px">
                    <md-icon class="material-icons">visibility_off</md-icon>
                    <label>{{'PASSWORD'| translate }}</label>
                    <div class="hint"
                         ng-show="!formData.password.$touched || formData.password.$valid">
                        {{'PASSWORD_HINT' | translate }}
                    </div>
                    <div ng-messages="formData.password.$error" role="alert">
                        <div ng-message="required" class="my-message">
                            {{ 'PASSWORD_IS_REQUIRED' | translate }}
                        </div>
                        <div ng-message="minlength" class="my-message">
                            {{ 'PASSWORD_MUST_BE_MORE_THAN_6_CHARS' | translate }}
                        </div>
                        <div ng-message="passwordVerify" class="my-message">
                            {{ 'PASSWORD_IS_NOT_MATCH_WITH_CONFIRM_PASSWORD' | translate }}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-icon>vpn_key</md-icon>
                    <input ng-model="Form.confirmPassword__"
                           type="Password"
                           md-five="true"
                           minlength="6"
                           md-minlength="6"
                           name="confirmPassword"
                           required
                           password-verify="{{Form.password__}}"
                           style="width: 386px">
                    <md-icon class="material-icons">visibility_off</md-icon>
                    <label>{{'CONFIRM_PASSWORD'| translate }}</label>
                    <div ng-messages="formData.confirmPassword.$error" role="alert">
                        <div ng-message="required" class="my-message">
                            {{ 'CONFIRM_PASSWORD_IS_REQUIRED' | translate }}
                        </div>
                        <div ng-message="minlength" class="my-message">
                            {{ 'CONFIRM_PASSWORD_MUST_BE_MORE_THAN_6_CHARS' | translate }}
                        </div>
                        <div ng-message="passwordVerify" class="my-message">
                            {{ 'CONFIRM_PASSWORD_IS_NOT_MATCH_WITH_PASSWORD' | translate }}
                        </div>
                    </div>
                </md-input-container>
                <div
                        layout="row"
                        layout-wrap
                        layout-align="center stretch"
                        style="margin-top: -25px">
                    <md-checkbox
                            style="font-size: 11px ; margin-top: 15px"
                            ng-model="agreement"
                            ng-disabled="!((formData.password.$valid)||(formData.confirmPassword.$valid))">
                        {{'ALL_THE_ABOVE_INFORMATION_IS_UNDER_MY_AGREEMENT'|translate}}
                    </md-checkbox>
                    <md-button
                            class="md-list-item-content md-primary"
                            ng-click="((formData.password.$valid)&&(formData.confirmPassword.$valid))?makeDesign_272400():'';"
                            ng-disabled="!agreement">
                        <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-list-item-content md-primary"
                            ng-click="makeDesign_293027();">
                        <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div> 
