<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190489.js?r=676133825','Design/design10106.js?r=2053089544','Design/design10099.js?r=2053089544','Design/design10123.js?r=2053089544','scripts/angular-md5.js']}">
    <div ng-controller="Design_10106"></div>
    <div ng-controller="Design_10099"></div>
    <div ng-controller="Design_10123"></div>

    <div ng-controller="Ctrl190489">
        <form id="formData" name="formData">
            <div id="_template" class="template" flex="100" layout-wrap layout="column">
                <div flex="100" layout-wrap layout="row" layout-align="center center">
                    <div flex="60" flex-xs="100" layout-padding>
                        <div flex="100" layout-wrap layout="row">
                            <md-input-container
                                    flex="100" flex-xs="100" md-no-float>
                                <md-icon>security</md-icon>
                                <input ng-model="Form.password__" type="Password"
                                       md-five="true"
                                       minlength="6" md-minlength="6"
                                       md-

                                       name="password" required password-verify="{{Form.confirmPassword__}}">
                                <label>{{'PASSWORD'| translate }}</label>
                                <div class="hint">{{'' | translate }}</div>
                                <div ng-messages="formData.password.$error" role="alert">
                                    <div ng-message="required" class="my-message">
                                        {{ 'PASSWORD_IS_REQUIRED' | translate }}
                                    </div>
                                    <div ng-message="minlength" class="my-message">
                                        {{ 'PASSWORD_MUST_BE_MORE_THAN_6_CHARS' | translate }}
                                    </div>
                                    <div ng-message="passwordVerify" class="my-message">
                                        {{ 'PASSWORD_IS_NOT_MATCH_WITH_CONFIRM_PASSWORD' | translate }}
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container
                                    flex="100" flex-xs="100">
                                <md-icon>security</md-icon>
                                <input ng-model="Form.confirmPassword__" type="Password"
                                       md-five="true"
                                       minlength="6" md-minlength="6"
                                       md-

                                       name="confirmPassword" required password-verify="{{Form.password__}}">
                                <label>{{'CONFIRM_PASSWORD'| translate }}</label>
                                <div class="hint">{{'' | translate }}</div>
                                <div ng-messages="formData.confirmPassword.$error" role="alert">
                                    <div ng-message="required" class="my-message">
                                        {{ 'CONFIRM_PASSWORD_IS_REQUIRED' | translate }}
                                    </div>
                                    <div ng-message="minlength" class="my-message">
                                        {{ 'CONFIRM_PASSWORD_MUST_BE_MORE_THAN_6_CHARS' | translate }}
                                    </div>
                                    <div ng-message="passwordVerify" class="my-message">
                                        {{ 'CONFIRM_PASSWORD_IS_NOT_MATCH_WITH_PASSWORD' | translate }}
                                    </div>
                                </div>
                            </md-input-container>
                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="makeDesign_272400();" flex="25" flex-xs="100">
                                <md-icon class="material-icons">next</md-icon>
                                <span class="md-inline-list-icon-label">{{'NEXT' | translate}}</span>
                            </md-button>
                            <!--  -->
                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="makeDesign_272399();" flex="25" flex-xs="100">
                                <md-icon class="material-icons">back</md-icon>
                                <span class="md-inline-list-icon-label">{{'BACK' | translate}}</span>
                            </md-button>
                            <!--  -->
                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="makeDesign_293027();" flex="30" flex-xs="100">
                                <md-icon class="material-icons"></md-icon>
                                <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>
                            </md-button>
                            <!--  --></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 
