<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190495.js?r=1453752686','Design/design10108.js?r=683224758','Design/design10160.js?r=2060180477','Design/design10123.js?r=2060180477','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_10108"></div>
    <div ng-controller="Design_10160"></div>
    <div ng-controller="Design_10123"></div>

    <div ng-controller="Ctrl190495">
        <form id="formData" name="formData" layout-padding style="width: 750px">
            <div layout="column" style="margin :0 auto">
                <div layout="row" layout-align="center center">
                    <md-icon style="height: 110px;
                                width: 110px;
                                font-size: 110px;
                                text-align: center;
                                color: #00c6d7;">domain
                    </md-icon>
                </div>
                <div layout="row" layout-align="center center">
                    <div style="text-align: center ; font-size: small ; padding: 0px;">
                        <span style="color: #00C6D7;">{{'DEAR_USER' | translate}}</span>
                        <span>{{'PLEASE_ENTER_YOUR_WORKPLACE_INFORMATION' | translate}}</span>
                    </div>
                </div>

                <div layout="row" layout-wrap layout-align="center center">
                    <md-input-container flex="45" class="margin-padding-zero" >
                        <md-icon>domain</md-icon>
                        <md-select required
                                   md-on-open="getDynamicData('__addresstype','','0','/base/list/catalogdetail/ADDRESS_TYPE','',[],this)"
                                   ng-model="Form.addressType" placeholder="{{'ADDRESS_TYPE' | translate}}">
                            <md-option ng-repeat="item in __addresstype" value="{{item.id}}">
                                {{item.description}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="45" class="margin-padding-zero"  >
                        <md-icon>local_post_office</md-icon>
                        <input ng-model="Form.postalCode"
                               ng-pattern="/^[13-9]*$/"
                               minlength="10"
                               md-minlength="10"
                               maxlength="10"
                               md-maxlength="10"
                               name="postalCode"
                               required
                               valid-number>
                        <label>{{'WORKPLACE_POSTAL_CODE'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.postalCode.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'POSTAL_CODE_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'POSTAL_CODE_IS_NOT_VALID' | translate }}
                            </div>
                            <div ng-message="minlength" class="my-message">
                                {{ 'POSTAL_CODE_MUST_BE_10_DIGITS' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-wrap layout-align="center center">
                    <md-input-container flex="45" class="margin-padding-zero">
                        <md-icon>location_city</md-icon>
                        <md-select required
                                   md-on-open="getDynamicData('__cityList','','0','/base/list/city','city',[],this)"
                                   ng-model="Form.city" placeholder="{{'CITY' | translate}}">
                            <md-option ng-repeat="item in __cityList" value="{{item.id}}">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container >
                    <md-input-container flex="45" class="margin-padding-zero"
                            flex="50">
                        <md-icon>place</md-icon>
                        <input ng-model="Form.mandatoryAddress"
                               minlength="10"
                               md-minlength="10"
                               maxlength="100"
                               md-maxlength="100"
                               name="address"
                               required>
                        <label>{{'WORKPLACE_MAIN_ADDRESS'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.address.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'MANDATORY_ADDRESS_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="maxlength" class="my-message">
                                {{ 'MANDATORY_ADDRESS_MUST_BE_LESS_THAN_100_CHARS' | translate }}
                            </div>
                            <div ng-message="minlength" class="my-message">
                                {{ 'MANDATORY_ADDRESS_MUST_BE_MORE_THAN_15_CHARS' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row"
                     layout-align="center center"
                     layout-wrap>
                    <md-input-container  class="margin-padding-zero" flex="45" >
                        <md-icon>local_phone</md-icon>
                        <input ng-model="Form.officeTel" ng-pattern="/^[0-9]*$/"
                               md-
                               maxlength="11" md-maxlength="11"

                               name="officeTel" required valid-number>
                        <label>{{'WORKPLACE_PHONE_NUMBER'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.officeTel.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'WORKPLACE_PHONE_NUMBER_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="maxlength" class="my-message">
                                {{ 'WORKPLACE_PHONE_NUMBER_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'WORKPLACE_PHONE_NUMBER_IS_NOT_VALID' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="margin-padding-zero" flex="45">
                        <md-icon>local_print_shop</md-icon>
                        <input ng-model="Form.officeFax"
                               ng-pattern="/^[0-9]*$/"
                               md-
                               maxlength="11"
                               md-maxlength="11"
                               name="fax" valid-number>
                        <label>{{'WORKPLACE_FAX'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.fax.$error" role="alert">
                            <div ng-message="maxlength" class="my-message">
                                {{ 'WORKPLACE_FAX_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'WORKPLACE_FAX_IS_NOT_VALID' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row"
                     layout-align="center center"
                     layout-wrap>
                    <md-input-container flex="45" class="margin-padding-zero"
                            flex="50">
                        <md-icon>local_phone</md-icon>
                        <input ng-model="Form.telephone"
                               ng-pattern="/^[0-9]*$/"
                               maxlength="11"
                               md-maxlength="11"
                               name="telephone"
                               valid-number>
                        <label>{{'GENERAL_WORKPLACE_PHONE_NUMBER'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.telephone.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="maxlength" class="my-message">
                                {{ 'GENERAL_WORKPLACE_PHONE_NUMBER_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_NOT_VALID' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="45" class="margin-padding-zero"
                            flex="50">
                        <md-icon>local_print_shop</md-icon>
                        <input ng-model="Form.fax"
                               ng-pattern="/^[0-9]*$/"
                               maxlength="11"
                               md-maxlength="11"
                               name="faxNumber"
                               valid-number>
                        <label>{{'GENERAL_WORKPLACE_FAX'| translate }}</label>
                        <div class="hint">{{'' | translate }}</div>
                        <div ng-messages="formData.faxNumber.$error" role="alert">
                            <div ng-message="required" class="my-message">
                                {{ 'GENERAL_WORKPLACE_FAX_IS_REQUIRED' | translate }}
                            </div>
                            <div ng-message="maxlength" class="my-message">
                                {{ 'GENERAL_WORKPLACE_FAX_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
                            </div>
                            <div ng-message="pattern" class="my-message">
                                {{ 'GENERAL_WORKPLACE_FAX_IS_NOT_VALID' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div
                        layout="row"
                        layout-wrap
                        layout-align="center stretch"
                        style="margin-top: 0px">
                    <md-button
                            class="md-list-item-content md-primary"
                            style="background-color: #848587;color: #fafafa;"
                            ng-click="makeDesign_272437();">
                        <span class="md-inline-list-icon-label">{{'BACK' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-list-item-content md-primary"
                            style="background-color: #052963;color: #fafafa;"
                            ng-click="makeDesign_272436();">
                        <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-list-item-content md-primary"
                            style="background-color: #848587;color: #fafafa;"
                            ng-click="makeDesign_293029();">
                        <span class="md-inline-list-icon-label">{{'ABORT_OF_REGISTRATION' | translate}}</span>
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div> 
