<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190483.js?r=1439570820','Design/design10103.js?r=669042892','Design/design10150.js?r=2045998611','Design/design10119.js?r=2045998611','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_10103"></div>
    <div ng-controller="Design_10150"></div>
    <div ng-controller="Design_10119"></div>

    <div ng-controller="Ctrl190483">
        <form id="formData" name="formData" layout-padding style="width: 450px">
            <div layout="column" style="margin :0 auto">
                <div ng-init="design_10119(this)" style="display:none"></div>
                <div layout="row" layout-align="center center">
                    <md-icon style="height: 110px;
                                width: 110px;
                                font-size: 110px;
                                text-align: center;
                                color: #00c6d7;">contact_mail
                    </md-icon>
                </div>
                <div layout="row" layout-align="center center">
                    <div style="text-align: center">
                        <span style="font-size:15px; color: #00C6D7;">{{'DEAR_USER' | translate}}</span>
                        <span style="font-size:15px">{{'PLEASE_ENTER_YOUR_PHYSICIAN_COUNCIL_CODE' | translate}}</span>
                    </div>
                </div>
                <md-input-container>
                    <md-icon style="color: #052963">vpn_key</md-icon>
                    <input ng-model="patientInfo.doctorNumber"
                           ng-pattern="/^[0-9]/"
                           maxlength="6"
                           md-maxlength="6"
                           name="medicallCouncilCode"
                           required
                           valid-number>
                    <label>{{'MEDICALL_COUNCIL_CODE'| translate }}</label>
                    <div class="hint">{{'' | translate }}</div>
                    <div ng-messages="formData.medicallCouncilCode.$error" role="alert">
                        <div ng-message="required" class="my-message">
                            {{ 'MEDICALL_COUNCIL_CODE_IS_REQUIRED' | translate }}
                        </div>
                        <div ng-message="pattern" class="my-message">
                            {{ 'MEDICALL_COUNCIL_CODE_IS_NOT_VALID' | translate }}
                        </div>
                        <div ng-message="maxlength" class="my-message">
                            {{ 'MEDICALL_COUNCIL_CODE_MUST_BE_LESS_THAN_6_DIGITS' | translate }}
                        </div>
                    </div>
                </md-input-container>
                <div layout="row" layout-wrap layout-align="center center">
                    <md-button flex="45"
                            class="md-raised md-primary"
                            style="background-color: #848587;color: #fafafa;"
                            ng-click="makeDesign_293261();">
                        <span class="md-inline-list-icon-label">{{'ABORT_OF_REGISTRATION' | translate}}</span>
                    </md-button>
                    <md-button flex="45"
                               class="md-raised md-primary"
                               style="background-color: #052963;color: #fafafa;"
                               ng-click="(formData.$valid)?makeDesign_272390():'';">
                        <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div> 
