<div oc-lazy-load="{name:'myApp',files:['Content/190491.js?r=570828083','Design/design10110.js?r=570828083','Design/design20209.js?r=570828083','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10110"></div>
<div ng-controller="Design_20209"></div>

	<div ng-controller="Ctrl190491">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="docInfo[0].doctorAccount.doctorNumber"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'MEDICAL_COUNCIL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="docInfo[0].specialty.name"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'SPECIALITY'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon></md-icon>
    <input ng-model="docInfo[0].doctorAccount.person.firstName+' '+docInfo[0].doctorAccount.person.lastName"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'FIRST_NAME_AND_LAST_NAME'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="50" >
    <md-icon>date</md-icon>
    <input ng-model="setStandardDate(docInfo[0].doctorAccount.person.birthDate)"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'BIRTH_DATE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="docInfo[0].address.postalCode" ng-pattern="/^[13-9]*$/"  
	  md- 
	 md-  
	
	name="PostalCode"     ng-disabled="true" >	
	<label>{{'WORKPLACE_POSTAL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="docInfo[0].address.mandatoryAddress + ' ' + docInfo[0].address.optionalAddress"   
	  md- 
	 md-  
	
	name="Address"     ng-disabled="true" >	
	<label>{{'WORKPLACE_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100"  >
    <md-icon></md-icon>
    <input ng-model="docInfo[0].address.telephone + ' , ' +docInfo[0].address.fax"   
	  md- 
	 md-  
	
	     ng-disabled="true" >	
	<label>{{'GENERAL_WORK_PHONE_AND_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272417();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'APPROVE' | translate}}</span>   
</md-button>
<!--  -->

<div ng-if="content.pageContentId==190615">
	can not include same page as dialog
</div>
<md-dialog ng-if="content.pageContentId!=190615">
    <md-dialog-content>
		<script type="text/ng-template" id="addOffice.tmpl">
			<md-dialog flex="80">
				<md-dialog-content flex="100" style="height:400" layout-padding>
					<div ng-include="'Content/190615.html?r='+rootScope.rand" ></div>
				</md-dialog-content>
			</md-dialog>
		</script>
    </md-dialog-content>
</md-dialog>

<div ng-init="design_20209(this)" style="display:none"></div>
<div ng-init="getInitData('docInfo','','0','workplace/list/doctor/'+docId+'',{},this)" style="display:none"></div></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
