<div flex="100"
     oc-lazy-load="{name:'myApp',files:['Content/190491.js?r=570828083','Design/design10110.js?r=570828083','Design/design20209.js?r=570828083','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_10110"></div>
    <div ng-controller="Design_20209"></div>

    <div ng-controller="Ctrl190491">
        <form id="formData" name="formData" layout-padding style="width: 500px">
            <div layout="column" style="margin :0 auto">
                <div layout="row" layout-align="center center">
                    <md-icon style="height: 110px;
                                width: 110px;
                                font-size: 110px;
                                text-align: center;
                                color: #00c6d7;">playlist_add_check
                    </md-icon>
                </div>
                <div layout="row" layout-align="center center">
                    <div style="text-align: center ; font-size: small ; padding: 0px; padding-bottom: 30px">
                        <span>{{'PLEASE_CONFIRM_THE_INFORMATION_YOU_ENTERED' | translate}}</span>
                    </div>
                </div>
                <div layout="column" layout-align="center center">
                    <div layout="row" layout-align="center center">
                        <md-input-container class="margin-padding-zero">
                            <input ng-model="docInfo[0].doctorAccount.doctorNumber"
                                   ng-disabled="true">
                            <label>{{'MEDICALL_COUNCIL_CODE'| translate }}</label>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].doctorAccount.person.firstName"
                                   ng-disabled="true">
                            <label>{{'FIRST_NAME'| translate }}</label>
                        </md-input-container>
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].doctorAccount.person.lastName"
                                   ng-disabled="true">
                            <label>{{'LAST_NAME'| translate }}</label>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].doctorAccount.person.gender.description"
                                   ng-disabled="true">
                            <label>{{'SPECIALITY'| translate }}</label>
                        </md-input-container>
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <md-icon>date</md-icon>
                            <input ng-model="docInfo[0].doctorAccount.person.birthDate"
                                   ng-disabled="true">
                            <label>{{'BIRTH_DATE'| translate }}</label>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="50">
                            <input ng-model="docInfo[0].specialty.name"
                                   ng-disabled="true">
                            <label>{{'SPECIALITY'| translate }}</label>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].address.addressType.description"
                                   ng-disabled="true">
                            <label>{{'FIRST_NAME'| translate }}</label>
                        </md-input-container>
                        <md-input-container class="margin-padding-zero"
                                            flex="50">
                            <input ng-model="docInfo[0].address.postalCode" ng-pattern="/^[13-9]*$/"
                                   name="PostalCode" ng-disabled="true">
                            <label>{{'WORKPLACE_POSTAL_CODE'| translate }}</label>
                            <div class="hint">{{'' | translate }}</div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].address.city.name"
                                   name="city"
                                   ng-disabled="true">
                            <label>{{'WORKPLACE_ADDRESS'| translate }}</label>
                        </md-input-container>
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].address.mandatoryAddress"
                                   name="Address"
                                   ng-disabled="true">
                            <label>{{'WORKPLACE_ADDRESS'| translate }}</label>
                            <div class="hint">{{'' | translate }}</div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].workplace.telephone" ng-pattern="/^[13-9]*$/"
                                   name="PostalCode" ng-disabled="true">
                            <label>{{'WORKPLACE_POSTAL_CODE'| translate }}</label>
                        </md-input-container>
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].address.telephone + ' , ' +docInfo[0].address.fax"
                                   ng-disabled="true">
                            <label>{{'GENERAL_WORK_PHONE_AND_FAX'| translate }}</label>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-wrap layout-align="center center">
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].workplace.telephone" ng-pattern="/^[13-9]*$/"
                                   name="PostalCode" ng-disabled="true">
                            <label>{{'WORKPLACE_POSTAL_CODE'| translate }}</label>
                        </md-input-container>
                        <md-input-container class="margin-padding-zero"
                                            flex="45">
                            <input ng-model="docInfo[0].address.telephone + ' , ' +docInfo[0].address.fax"
                                   ng-disabled="true">
                            <label>{{'GENERAL_WORK_PHONE_AND_FAX'| translate }}</label>
                        </md-input-container>
                    </div>
                </div>
                <div
                        layout="row"
                        layout-wrap
                        layout-align="center stretch"
                        style="margin-top: 0px">
                    <md-checkbox
                            style="font-size: 11px ; margin-top: 15px"
                            ng-model="agreement"
                            ng-disabled="!(formData.$valid)">
                        {{'ALL_THE_ABOVE_INFORMATION_IS_UNDER_MY_AGREEMENT'|translate}}
                    </md-checkbox>
                    <md-button
                            class="md-raised md-primary"
                            style="background-color: #052963;color: #fafafa;"
                            ng-disabled="!agreement"
                            ng-click="makeDesign_272417();">
                        <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-raised md-primary"
                            style="background-color: #848587;color: #fafafa;"
                            ng-click="makeDesign_272409();">
                        <span class="md-inline-list-icon-label">{{'ABORT_OF_REGISTRATION' | translate}}</span>
                    </md-button>
                    <md-button
                            class="md-raised md-primary"
                            ng-click="makeDesign_272417();" flex="100" flex-xs="100"
                            style="background-color: #052963; border-radius: 4px">
                        <span class="md-inline-list-icon-label">{{'GO_TO_YOUR_PHYSICIAN_DASHBOARD' | translate}}</span>
                    </md-button>
                </div>
                <div ng-init="design_20209(this)" style="display:none"></div>
                <div ng-init="getInitData('docInfo','','0','workplace/list/doctor/'+docId+'',{},this)"
                     style="display:none">
                </div>
            </div>
        </form>
    </div>
</div> 
