<div oc-lazy-load="{name:'myApp',files:['Content/190548.js?r=2088544209']}"> 
	
	<div ng-controller="Ctrl190548">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<div ng-init="design_10129(this)" style="display:none"></div>
<md-input-container flex="100"  >
    <md-icon>home</md-icon>
    <textarea flex="100" name="biography"  ng-model="DocInfo.biography"   maxlength="1000" md-maxlength="1000"></textarea>
</md-input-container>

<md-button  
	 
	ng-click="makeDesign_293461();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'SAVE' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
