<div oc-lazy-load="{name:'myApp',files:['Content/190540.js?r=96002835','Design/design10123.js?r=96002835']}"> 
	<div ng-controller="Design_10123"></div>

	<div ng-controller="Ctrl190540">
	    <form id="formData" name="formData">
			<div id="_template" class="template flex-100 layout-wrap layout-column">
	<div class="flex-100 layout-wrap layout-row">
		<div class="flex-100 layout-row layout-wrap">
				
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_282648();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">add_circle</md-icon>
    <span class="md-inline-list-icon-label">{{'ADD_WORK_DAY' | translate}}</span>   
</md-button>
<!--  -->
<table class="WorkDay">
	<tr>
		<th>TITLE</th>
		<th>FROM_TIME</th>
		<th>TO_TIME</th>
		<th>DATE</th>
		<th>RECORD_DATE</th>
		<th>REMOVE</th>
	</tr>
	<tr ng-repeat="x in _workDay track by $index">
		<td>{{x.description}}</td>
			<td>
    		<div ng-show="x.fromTime==null && x.toTime==null">WHOLE_DAY</div>
    		{{x.fromTime}}
    	</td>
    	<td>{{x.toTime}}</td>
    	<td>{{x.exceptionDate}}</td>
    	<td>{{x.insertDate}}</td>
		<td>
		<md-button  
        	class="md-list-item-content md-primary" 
        	ng-click="design_10124(this,$index);" flex="100" flex-xs="100"  >
            <md-icon class="material-icons">remove</md-icon>
            <span class="md-inline-list-icon-label"></span>   
        </md-button>
		</td>
	</tr>
</table>
<style>
    .WorkDay {
    width: 100%;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    border-collapse: collapse;
    text-align : center;
}
.WorkDay tr:nth-child(1) {
    background: #00C6D7;
    color: #fff;
}
.WorkDay tr td, .WorkDay tr th {
    padding: 10px;
}
.dialogFormStyle {
	background: #00C6D7 !important;
}
.circleIcon {
	background: #052963 !important
}
</style>
<div ng-init="getInitData('_workDay','','0','workplace/list/agenda/exception/byexceptiontype?workplaceId='+workplace.id+'&expTypeId=39',{},this)" style="display:none"></div>

<div ng-if="content.pageContentId==190546">
	can not include same page as dialog
</div>
<md-dialog ng-if="content.pageContentId!=190546">
    <md-dialog-content>
		<script type="text/ng-template" id="addOffice.tmpl">
			<md-dialog flex="100">
				<md-dialog-content flex="100" style="height:400" layout-padding>
					<div ng-include="'Content/190546.html?r='+rootScope.rand" ></div>
				</md-dialog-content>
			</md-dialog>
		</script>
    </md-dialog-content>
</md-dialog>

		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
