<div oc-lazy-load="{name:'myApp',files:['Content/190544.js?r=1936727120']}"> 
	
	<div ng-controller="Ctrl190544">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<div ng-init="getInitData('_allData','','0','workplace/list/agenda/exception/bydate',"workplace": {
      "id": '+workplace.id+'
    },
    "toTime": 1980492800000,
    "fromTime": 0,this)" style="display:none"></div>
<div layout-align="end start" layout="column"  dir="rtl" flex="100">
<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">شنبه</div>
				<div><md-icon ng-click="showEventPopUp(29)" class="addIcon">add</md-icon></div>
			</div>
			<div ng-repeat="x in allData" ng-if="x.dayWork.id==29" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
		<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">يکشنبه</div>
				<div><md-icon ng-click="showEventPopUp(30)" class="addIcon">add</md-icon></div>
			</div>
			<div ng-repeat="x in allData" ng-if="x.dayWork.id==30" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
		<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">دوشنبه</div>
				<div><md-icon ng-click="showEventPopUp(31)" class="addIcon">add</md-icon></div>
			</div>
			<div ng-repeat="x in allData" ng-if="x.dayWork.id==31" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
		<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">سه شنبه</div>
				<div><md-icon ng-click="showEventPopUp(32)" class="addIcon">add</md-icon></div>
			</div>
			<div  ng-repeat="x in allData" ng-if="x.dayWork.id==32" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
		<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">چهارشنبه</div>
				<div><md-icon ng-click="showEventPopUp(33)" class="addIcon">add</md-icon></div>
			</div>
			<div ng-repeat="x in allData" ng-if="x.dayWork.id==33" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
		<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">پنج شنبه</div>
				<div><md-icon ng-click="showEventPopUp(34)" class="addIcon">add</md-icon></div>
			</div>
			<div ng-repeat="x in allData" ng-if="x.dayWork.id==34" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
		<div class="rowStyle" layout="row" layout-padding>
			<div layout="row">
				<div class="dayStyle">جمعه</div>
				<div><md-icon ng-click="showEventPopUp(35)" class="addIcon">add</md-icon></div>
			</div>
			<div ng-repeat="x in allData" ng-if="x.dayWork.id==35" layout="row">
				<div class="showTime" ng-class="getState(x)">
					{{x.fromTime | date:'H:mm'}}-{{x.toTime | date:'H:mm'}}
				</div>
				<div><md-icon  ng-confirm-click="{{removeAlertMessage}}" ng-click="deleteDayTime(x.id)" class="removeIcon">clear</md-icon></div>
			</div>
		</div>
</div>
<style>.rowStyle{
        border-bottom: 1px solid #d4d4d4
    }
    .dayStyle{
        width:60px;
    }
    .addIcon{
        color:#66cc68;
        cursor:pointer;
        outline: none;
        font-weight: bold;
    }
    .showTime{
        background-color: #efefef;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

    }</style></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
