<div oc-lazy-load="{name:'myApp',files:['Content/190566.js?r=1193504671','Design/design10145.js?r=422976743','Design/design20198.js?r=422976743','Design/design20231.js?r=774348634']}"> 
	<div ng-controller="Design_10145"></div>
<div ng-controller="Design_20198"></div>
<div ng-controller="Design_20231"></div>

	<div ng-controller="Ctrl190566">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<h3 style="text-align:center" flex="100" > {{'PLEASE_CHOOSE_YOUR_DASHBOARD' |translate}} </h3>
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_282775();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'PATIENT_DASHBOARD' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_282776();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'SECRETARY_DASHBOARD' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
