<div oc-lazy-load="{name:'myApp',files:['Content/190510.js?r=1137835460','Design/design20244.js?r=1137835460','Design/design10129.js?r=1137835460']}"> 
	<div ng-controller="Design_20244"></div>
<div ng-controller="Design_10129"></div>

	<div ng-controller="Ctrl190510">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<div >
	<div  
		style="height:200px;width:200px;
		border:solid 1px silver;
		background:url('{{image_source['Image1'].result}}');
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		border-radius:25px;
		position:relative;

		" 
		>
		<md-progress-linear  
		ng-show="image_source['Image1'].progress>0 && image_source['Image1'].progress<100"
		value="{{image_source['Image1'].progress}}"></md-progress-linear>
	</div>
	<div layout-padding style="width:200px;position:relative">
		<input ng-model="Form.Image1" type="file" accept="image/*"
		baseUrlId="0"
		url="account/person/image/save"
		style="color:transparent"
		imageDataVar="imageData"
		param="{{DocInfo.person}}"
		onchange="angular.element(this).scope().uploadedFile(this,'Image1')" >
		<md-icon ng-show="image_source['Image1'].visible" style="position:absolute;top:10px;left:115px;color:green;">check</md-icon>
	</div>
</div>


<div ng-init="design_10129(this)" style="display:none"></div>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_293454();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
