<div oc-lazy-load="{name:'myApp',files:['Content/190506.js?r=165853912','Design/design10151.js?r=165853912','Design/design10124.js?r=165853912','Design/design10141.js?r=1542809631','Design/design10136.js?r=1542809631','Design/design10129.js?r=1542809631']}"> 
	<div ng-controller="Design_10151"></div>
<div ng-controller="Design_10124"></div>
<div ng-controller="Design_10141"></div>
<div ng-controller="Design_10136"></div>
<div ng-controller="Design_10129"></div>

	<div ng-controller="Ctrl190506">
	    <form id="formData" name="formData">
			<div id="_template" class="template flex-100 layout-wrap layout-column">
	<div class="flex-100 layout-wrap layout-row">
		<div class="flex-100 layout-row layout-wrap">
				

<h4 style="text-align:center" flex="70" > {{'PLEASE_ADD_YOUR_WORKPLACE' |translate}} </h4>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_272530();" flex="5" flex-xs="5"  >
    <md-icon class="material-icons">add_circle</md-icon>
    <span class="md-inline-list-icon-label">{{'' | translate}}</span>   
</md-button>
<!--  -->
<table class="workplaceTbl">
	<tr>
		<th>{{'SPECIALITY' | translate}}</th>
		<th>{{'PHONE_NUMBER' | translate}}</th>
		<th>{{'POSTAL_CODE' | translate}}</th>
		<th>{{'ADDRESS' | translate}}</th>
		<th>{{'DEACTIVE/ACTIVE' | translate}}</th>
		<th>{{'REMOVE' | translate}}</th>
		<th>{{'EDIT' | translate}}</th>
	</tr>
	<tr ng-repeat="x in _workplace track by $index">
		<td>{{x.specialty.name}}</td>
		<td>{{x.officeTel}}</td>
		<td>{{x.address.postalCode}}</td>
		<td>{{x.address.mandatoryAddress}}</td>
		<td>{{x.active.description}}</td>
		<td>
		<md-button  
        	class="md-list-item-content md-primary" 
        	ng-click="design_10124(this,$index);" flex="100" flex-xs="100"  >
            <md-icon class="material-icons">remove</md-icon>
            <span class="md-inline-list-icon-label"></span>   
        </md-button>
		</td>
		<td>
		<md-button  
        	class="md-list-item-content md-primary" 
        	ng-click="design_10136(this,$index);" flex="100" flex-xs="100"  >
            <md-icon class="material-icons">edit</md-icon>
            <span class="md-inline-list-icon-label"></span>   
        </md-button>
		</td>
	</tr>
</table>

<style>
    .workplaceTbl {
    width: 100%;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    border-collapse: collapse;
    text-align : center;
}
.workplaceTbl tr:nth-child(1) {
    background: #00C6D7;
    color: #fff;
}
.workplaceTbl tr td, .workplaceTbl tr th {
    padding: 10px;
}
.dialogFormStyle {
	background: #00C6D7 !important;
}
.circleIcon {
	background: #052963 !important
}
</style>
<div ng-init="getInitData('_workplace','','0','workplace/list/doctor/'+DocInfo.id+'',{},this)" style="display:none"></div>
<div ng-init="design_10129(this)" style="display:none"></div>
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
