<div oc-lazy-load="{name:'myApp',files:['Content/190515.js?r=2109817008','Design/design10125.js?r=2109817008','Design/design10141.js?r=313705252','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_10125"></div>
<div ng-controller="Design_10141"></div>

	<div ng-controller="Ctrl190515">
	    <form id="formData" name="formData">
			<div id="_template" class="template flex-100 layout-wrap layout-column">
	<div class="flex-100 layout-wrap layout-row">
		<div class="flex-100 layout-row layout-wrap">
				
<!--div ng-init="getDynamicData('__city','','0','/base/list/city','',[],this)"></div-->

<div data-ng-init=" __city =  " style="display:none"></div>
<div data-ng-init=" Form.address.city.id =  " style="display:none"></div>

<md-input-container flex="50" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select required
		
		md-on-open="getDynamicData('__city','','0','/base/list/city','',[],this)"
		ng-model="Form.address.city.id" placeholder="{{'CITY' | translate}}" >
		<md-option  ng-repeat="item in __city" value="{{item.id}}">
			{{item.name}}		
		</md-option>
	</md-select>
</md-input-container>
<!--div ng-init="getDynamicData('__addresstype','','0','/base/list/catalogdetail/ADDRESS_TYPE','',[],this)"></div-->

<div data-ng-init=" __addresstype =  " style="display:none"></div>
<div data-ng-init=" Form.address.addressType.id =  " style="display:none"></div>

<md-input-container flex="45" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select required
		
		md-on-open="getDynamicData('__addresstype','','0','/base/list/catalogdetail/ADDRESS_TYPE','',[],this)"
		ng-model="Form.address.addressType.id" placeholder="{{'ADDRESS_TYPE' | translate}}" >
		<md-option  ng-repeat="item in __addresstype" value="{{item.id}}">
			{{item.description}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.address.postalCode" ng-pattern="/^[13-9]*$/"  
	 minlength="10" md-minlength="10" 
	maxlength="10" md-maxlength="10"  
	
	name="postalCode"  required valid-number   >	
	<label>{{'POSTAL_CODE'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.postalCode.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'POSTAL_CODE_IS_REQUIRED' | translate }}
		</div>
    	<div ng-message="pattern" class="my-message">
			{{ 'POSTAL_CODE_IS_NOT_VALID' | translate }}
		</div>
		<div ng-message="minlength" class="my-message">
			{{ 'POSTAL_CODE_MUST_BE_10_DIGITS' | translate }}
		</div>
	</div>
</md-input-container>
<!--div ng-init="getDynamicData('__specialty','','0','/base/list/specialty','',[],this)"></div-->

<div data-ng-init=" __specialty =  " style="display:none"></div>
<div data-ng-init=" Form.specialty.id =  " style="display:none"></div>

<md-input-container flex="45" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select required
		
		md-on-open="getDynamicData('__specialty','','0','/base/list/specialty','',[],this)"
		ng-model="Form.specialty.id" placeholder="{{'SPECIALITY' | translate}}" >
		<md-option  ng-repeat="item in __specialty" value="{{item.id}}">
			{{item.name}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container 
	 flex="45" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.address.mandatoryAddress"   
	  md- 
	maxlength="100" md-maxlength="100"  
	
	name="address"  required    >	
	<label>{{'WORKPLACE_MAIN_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.address.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'MANDATORY_ADDRESS_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'MANDATORY_ADDRESS_MUST_BE_LESS_THAN_100_DIGITS' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="45" flex-xs="100" >
    <md-icon>home</md-icon>
    <input ng-model="Form.address.optionalAddress"   
	  md- 
	maxlength="100" md-maxlength="100"  
	
	name="optionalAddress"      >	
	<label>{{'WORKPLACE_SUPPLEMENTARY_ADDRESS'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.optionalAddress.$error" role="alert" >
		<div ng-message="maxlength" class="my-message">
			{{ 'SUPPLEMENTARY_ADDRESS_MUST_BE_LESS_THAN_100_DIGITS' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.officeTel" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="telephone"   valid-number   >	
	<label>{{'GENERAL_WORKPLACE_PHONE_NUMBER'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.telephone.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.officeFax" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="faxNumber"   valid-number   >	
	<label>{{'GENERAL_WORKPLACE_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.faxNumber.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'GENERAL_WORKPLACE_FAX_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'GENERAL_WORKPLACE_FAX_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'GENERAL_WORKPLACE_FAX_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.address.telephone" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="telephone"  required valid-number   >	
	<label>{{'WORKPLACE_PHONE_NUMBER'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.telephone.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'GENERAL_WORKPLACE_PHONE_NUMBER_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-input-container 
	 flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.address.fax" ng-pattern="/^[0-9]*$/"  
	  md- 
	maxlength="11" md-maxlength="11"  
	
	name="officeFax"   valid-number   >	
	<label>{{'WORKPLACE_FAX'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    <div ng-messages="formData.officeFax.$error" role="alert" >
		<div ng-message="required" class="my-message">
			{{ 'WORKPLACE_FAX_IS_REQUIRED' | translate }}
		</div>
		<div ng-message="maxlength" class="my-message">
			{{ 'WORKPLACE_FAX_MUST_BE_LESS_THAN_11_DIGITS' | translate }}
		</div>
		<div ng-message="pattern" class="my-message">
			{{ 'WORKPLACE_FAX_IS_NOT_VALID' | translate }}
		</div>
	</div>
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click=";" flex="48" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="design_10125(this);" flex="48" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>   
</md-button>
<!--  -->
{{Form}}++
<div ng-init="design_10129(this)" style="display:none"></div>
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
