<div oc-lazy-load="{name:'myApp',files:['Content/190547.js?r=461556592','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	
	<div ng-controller="Ctrl190547">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container flex="100" flex-xs="100" md-no-float>
	<md-icon></md-icon>
	<md-select 
		md-on-open="getDynamicData('__workplace','','0','workplace/list/doctor/'+DocInfo.id+'','',[],this)"
		ng-model="Form.workplace" placeholder="WORKPLACE" >
		<md-option ng-value="item.id" ng-repeat="item in __workplace" >
			{{item.specialty.name}}		
		</md-option>
	</md-select>
</md-input-container>
<md-input-container flex="50" flex-xs="100">
	<label>{{'DATE'| translate }}</label>
        <md-persian-datepicker ng-model="Form.exceptionDate"   name="ExceptionDate" required ></md-persian-datepicker>
        <!-- div ng-messages="form1.birthDate.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">  </div>
        </div -->
</md-input-container>
<md-input-container  flex="50" flex-xs="100" >
    <md-icon></md-icon>
    <input ng-model="Form.title"   
	  maxlength="50" 
	md-maxlength="50" type="text"  
	  required    >	
	<label>{{'TITLE'| translate }}</label>
    <div class="hint">{{'' | translate }}</div>
    <div  role="alert"  >
        <div ng-message="required" class="my-message">
		{{ '' | translate }}
		</div>
    </div>
</md-input-container>

<md-checkbox flex="100" flex-xs="100"  ng-model="partTime" >
	HOURLY
</md-checkbox>

<md-input-container flex="50" flex-xs="100">
    <md-icon class="material-icons myFormIcon">access_time</md-icon>
    <label >FROM_TIME</label>
    <input dir="ltr" ng-model="Form.fromTime" type="time" ng-disabled="partTime==false" name="FromTime"  >
    <div ng-messages=".$error" role="alert" multiple>
        <div ng-message="required" class="my-message">FromTime is required</div>
    </div>
</md-input-container>
<md-input-container flex="50" flex-xs="100">
    <md-icon class="material-icons myFormIcon">access_time</md-icon>
    <label >TO_TIME</label>
    <input dir="ltr" ng-model="Form.toTime" type="time" ng-disabled="partTime==false" name="toTime"  >
    <div ng-messages=".$error" role="alert" multiple>
        <div ng-message="required" class="my-message">toTime is required</div>
    </div>
</md-input-container>
<div ng-init=" partTime = false " style="display:none"></div>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click=";" flex="45" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'SAVE' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click=";" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
