<div oc-lazy-load="{name:'myApp',files:['Content/190670.js?r=1028563969','Design/design10150.js?r=1028563969','Design/design10119.js?r=1028563969']}"> 
	<div ng-controller="Design_10150"></div>
<div ng-controller="Design_10119"></div>

	<div ng-controller="Ctrl190670">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-button  
	class="md-raised md-primary" 
	ng-click="makeDesign_293379();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'SIGN_OUT' | translate}}</span>   
</md-button>
<!--  -->
<div ng-init="design_10119(this)" style="display:none"></div>
<md-button  
	 
	ng-click="makeDesign_303483();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">security</md-icon>
    <span class="md-inline-list-icon-label">{{'Login' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
