<div oc-lazy-load="{name:'myApp',files:['Content/190615.js?r=482829391','Design/design20200.js?r=1859785110','Design/design20202.js?r=1859785110','Design/design20227.js?r=1859785110']}"> 
	<div ng-controller="Design_20200"></div>
<div ng-controller="Design_20202"></div>
<div ng-controller="Design_20227"></div>

	<div ng-controller="Ctrl190615">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">

<h3 style="text-align:center" flex="100" flex-xs="100"> {{'ARE_YOU_SURE_TO_WANT_TO_DELETE?' |translate}} </h3>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_293047();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CONFIRM' | translate}}</span>   
</md-button>
<!--  -->
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_293048();" flex="45" flex-xs="100"  >
    <md-icon class="material-icons"></md-icon>
    <span class="md-inline-list-icon-label">{{'CANCEL' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
