<div flex="100" oc-lazy-load="{name:'myApp',files:['Content/190669.js?r=1291719480','Design/design20197.js?r=521191552','Design/design10096.js?r=521191552','Design/design20222.js?r=872563443','Design/design10111.js?r=872563443','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_20197"></div>
    <div ng-controller="Design_10096"></div>
    <div ng-controller="Design_20222"></div>
    <div ng-controller="Design_10111"></div>

    <div ng-controller="Ctrl190669">
        <form id="formData" name="formData" layout-padding style="width: 450px">
            <div layout="column" style="margin :0 auto">
                <div layout="row" layout-align="center center">
                    <img style="width: 100px ; " src="../images/lock.png">
                </div>
                <div layout="row" layout-align="center center">
                    <div style="direction: ltr">
                        <span style="font-size:15px; color: #00C6D7;">{{mobileNo.input}}</span>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div style="text-align: center">
                        <span style="font-size:15px; color: #00C6D7;">{{'DEAR_USER' | translate}}</span>
                        <span style="font-size:15px; color: #000000;">{{'VERIFICATION_CODE_HAS_BEEN_SENT_FOR_ABOVE_NUMBER' | translate}}</span>
                    </div>
                </div>
                <md-button
                        class="md-list-item-content md-primary"
                        ng-click="makeDesign_293354();" flex="45" flex-xs="100">
                    <md-icon class="material-icons" style="color: #052963">refresh</md-icon>
                    <span class="md-inline-list-icon-label" style="font-size:15px; color: #00C6D7;">{{'CHANGE' | translate}}</span>
                    <span class="md-inline-list-icon-label" style="font-size:15px; color: #000000;">{{'MOBILE_NUMBER' | translate}}</span>
                </md-button>

                <!--<md-input-container-->
                        <!--flex="100" flex-xs="100">-->
                    <!--<md-icon>sms</md-icon>-->
                    <!--<input ng-model="Form.verifyCode"-->
                           <!--ng-pattern="/^[0-9]/"-->
                           <!--minlength="4"-->
                           <!--md-minlength="4"-->
                           <!--maxlength="4"-->
                           <!--md-maxlength="4"-->
                           <!--name="verifyCode"-->
                           <!--required>-->
                    <!--<label>{{'VERIFICATION_CODE'| translate }}</label>-->
                    <!--<div class="hint" ng-show="!formData.verifyCode.$touched || formData.verifyCode.$valid">-->
                        <!--{{'VERIFY_CODE_HINT' | translate }}-->
                    <!--</div>-->
                    <!--<div ng-messages="formData.verifyCode.$error" role="alert">-->
                        <!--<div ng-message="pattern" class="my-message">-->
                            <!--{{ 'VERIFY_CODE_MUST_BE_NUMBER' | translate }}-->
                        <!--</div>-->
                        <!--<div ng-message="required" class="my-message">-->
                            <!--{{ 'VERIFY_CODE_IS_REQUIRED' | translate }}-->
                        <!--</div>-->
                        <!--<div ng-message="maxlength" class="my-message">-->
                            <!--{{ 'VERIFY_CODE_IS_MORE_THAN_4_DIGITS' | translate }}-->
                        <!--</div>-->
                        <!--<div ng-message="minlength" class="my-message">-->
                            <!--{{ 'VERIFY_CODE_IS_LESS_THAN_4_DIGITS' | translate }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-input-container>-->

                <div dir="ltr" layout="row" layout-wrap layout-padding layout-align="center center">
                    <input class="verifyInput" flex="10" type="text" id="part[$index]" ng-focus="$index==3" ng-model="Form.verifyCode1" maxlength="1" move-next-on-maxlength />
                    <input class="verifyInput" flex="10" type="text" id="part[$index]" ng-focus="$index==2" ng-model="Form.verifyCode2" maxlength="1" move-next-on-maxlength />
                    <input class="verifyInput" flex="10" type="text" id="part[$index]" ng-focus="$index==1" ng-model="Form.verifyCode3" maxlength="1" move-next-on-maxlength />
                    <input class="verifyInput" flex="10" type="text" id="part[$index]" ng-focus="$index==0" ng-model="Form.verifyCode4" maxlength="1" />
                </div>
                <md-button
                        class="md-raised md-primary"
                        ng-click="makeDesign_293353();" flex="100" flex-xs="100"
                        style="background-color: #052963; border-radius: 4px">
                    <span class="md-inline-list-icon-label">{{'SEND_VERIFY_CODE' | translate}}</span>
                </md-button>
                <div ng-show="{{showCountDownTimer}}" layout="row" layout-align="center center" layout-padding>
                    <div class="countdownTimer" layout="row" layout-align="center center">{{counter | secondsToDateTime
                        | date:'ss'}}
                    </div>
                    <div layout="row" layout-align="center center" style="color:#676767;margin:0;padding:1px">:</div>
                    <div class="countdownTimer" layout="row" layout-align="center center">{{counter | secondsToDateTime
                        | date:'mm'}}
                    </div>
                </div>
                <md-button
                        ng-click="makeDesign_293355();"
                        ng-disabled="{{resendButton}}"
                        flex="45" flex-xs="100">
                    <md-icon class="material-icons">forward_30</md-icon>
                    <span class="md-inline-list-icon-label" style="font-size:15px; color: #00C6D7;">{{'RESEND' | translate}}</span>
                    <span class="md-inline-list-icon-label" style="font-size:15px; color: #000000;">{{'CODE_TO_MOBILE_NUMBER' | translate}}</span>
                </md-button>
            </div>
        </form>
    </div>
</div>
