<div oc-lazy-load="{name:'myApp',files:['Content/190627.js?r=430067676','Design/design20216.js?r=430067676','scripts/ngMask.min.js','scripts/md-input.css']}"> 
	<div ng-controller="Design_20216"></div>

	<div ng-controller="Ctrl190627">
	    <form id="formData" name="formData">
			<div id="_template"  class="template" flex="100" layout-wrap layout="column" >
	<div flex="100" layout-wrap layout="row" layout-align="center center">
		<div flex="60" flex-xs="100" layout-padding >
			<div flex="100" layout-wrap layout="row">
<md-input-container 
	 flex="100" flex-xs="100" md-no-float>
    <md-icon>security</md-icon>
    <input ng-model="Form.password"  type="Password" 
	  md- 
	maxlength="20" md-maxlength="20"  
	
	name="Password"      >	
	<label>{{'PASSWORD'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-input-container 
	 flex="100" flex-xs="100" md-no-float>
    <md-icon>security</md-icon>
    <input ng-model="Form.confirmPassword"  type="Password" 
	  md- 
	maxlength="20" md-maxlength="20"  
	
	name="Password"      >	
	<label>{{'CONFIRM_PASSWORD'| translate }}</label>
    	<div class="hint" >{{'' | translate }}</div>
    
</md-input-container>
<md-button  
	class="md-list-item-content md-primary" 
	ng-click="makeDesign_293139();" flex="100" flex-xs="100"  >
    <md-icon class="material-icons">save</md-icon>
    <span class="md-inline-list-icon-label">{{'APPROVE_AND_CONTINUE' | translate}}</span>   
</md-button>
<!--  --></div>  
		</div>
	</div>
</div>
		</form>
	</div> 
</div> 
