<div flex="100" oc-lazy-load="{name:'myApp',files:['Content/190613.js?r=221523123','Design/design20199.js?r=1598478842','Design/design10111.js?r=1949850733','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="Design_20199"></div>
    <div ng-controller="Design_10111"></div>

    <div ng-controller="Ctrl190613">
        <form id="formData" name="formData" layout-padding style="width: 450px">
            <div layout="column" style="margin :0 auto">
                <div layout="row" layout-align="center center">
                    <img style="width: 100px ; " src="../images/lock.png">
                </div>
                <div layout="row" layout-align="center center">
                    <div style="text-align: center">
                        <span style="font-size:15px; color: #00C6D7;">{{'DEAR_USER' | translate}}</span>
                        <span style="font-size:15px">{{'PLEASE_ENTER_YOUR_COUNTRY_AND_MOBILE_NUMBER_FOR_SENDING_VERIFY_CODE' | translate}}</span>
                    </div>
                </div>
                <md-input-container
                        flex="100" flex-xs="100">
                    <md-icon>sms</md-icon>
                    <input ng-model="Form.verifyCode" ng-pattern="/^[0-9]/"
                           minlength="4" md-minlength="4"
                           maxlength="4" md-maxlength="4"

                           name="verifyCode" required>
                    <label>{{'VERIFICATION_CODE'| translate }}</label>
                    <div class="hint" ng-show="!formData.verifyCode.$touched || formData.verifyCode.$valid">
                        {{'VERIFY_CODE_HINT' | translate }}
                    </div>
                    <div ng-messages="formData.verifyCode.$error" role="alert">
                        <div ng-message="pattern" class="my-message">
                            {{ 'VERIFY_CODE_MUST_BE_NUMBER' | translate }}
                        </div>
                        <div ng-message="required" class="my-message">
                            {{ 'VERIFY_CODE_IS_REQUIRED' | translate }}
                        </div>
                        <div ng-message="maxlength" class="my-message">
                            {{ 'VERIFY_CODE_IS_MORE_THAN_4_DIGITS' | translate }}
                        </div>
                        <div ng-message="minlength" class="my-message">
                            {{ 'VERIFY_CODE_IS_LESS_THAN_4_DIGITS' | translate }}
                        </div>
                    </div>
                </md-input-container>
                <md-button
                        class="md-list-item-content md-primary"
                        ng-click="makeDesign_272365();" flex="45" flex-xs="100">
                    <md-icon class="material-icons">send</md-icon>
                    <span class="md-inline-list-icon-label">{{'CONFIRM_CODE' | translate}}</span>
                </md-button>
                <!--  -->
                <md-button
                        class="md-list-item-content md-primary" ng-disabled="timerlimit<0"
                        ng-click="makeDesign_293190();" flex="45" flex-xs="100">
                    <md-icon class="material-icons"></md-icon>
                    <span class="md-inline-list-icon-label">{{'RESEND_CODE' | translate}}</span>
                </md-button>
                <!--  -->
                <div ng-init="startTimer('smsData.expiration_time/100','timerLimit','100')"></div>
                <div ng-if="false">
                    {{timerLimit}}
                </div>
                <div ng-if="timerLimit>0">
                    <md-progress-linear md-mode="determinate" value="{{timerLimit/12000}}"
                                        style="position:absolute;top:10px;width:70%"></md-progress-linear>
                </div>
            </div>
        </form>
    </div>
</div> 
