/*workplace*/
.workplaceTbl {
    width: 100%;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    border-collapse: collapse;
}
.workplaceTbl tr:nth-child(1) {
    background: #00C6D7;
    color: #fff;
}
.workplaceTbl tr td, .workplaceTbl tr th {
    padding: 10px;
}
.dialogFormStyle {
	background: #00C6D7 !important;
}
.circleIcon {
	background: #052963 !important
}
